html {
  font-family: sans-serif;
  background-color: #a8dadc;
  color: #09111c;
  font-size: 16px;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

a {
  color: inherit;
}

header h1 {
  display: inline;
}

header a {
  color: #457b9d;
  text-decoration: none;
}

header svg {
  display: inline;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

header {
  display: flex;
  align-items: center;
}

button {
  background-color: #457b9d;
  color: #f1faee;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  min-width: 120px;
}

input,
button {
  padding: 3px 5px;
  margin: 5px 0px;
}

button a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f1faee;
}

table,
th,
td {
  border: 1px solid #a8dadc;
  border-radius: 10px;
  text-align: center;
}

th,
td {
  padding: 10px;
}

table img {
  width: 50px;
  height: 50px;
}

.alumne header {
  display: flex;
  flex-direction: row;
}

.alumne img {
  width: 50px;
  height: 50px;
}

.alumne-extra {
  visibility: hidden;
}

.al-pati {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 100%;
}

.al-pati span {
  width: 100%;
}

.al-pati button:hover {
  background-color: #1d3557;
}

.al-pati button:disabled {
  background-color: #f1faee;
  color: #1d3557;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #09111c;
    color: #a8dadc;
  }

  header svg {
    filter: invert(94%) sepia(10%) saturate(1039%) hue-rotate(139deg)
      brightness(92%) contrast(86%);
  }

  table {
    background-color: #1d3557;
  }

  table,
  th,
  td {
    border-color: #09111c;
  }
}
